In [1]:
import pandas as pd

In [149]:
bb = pd.read_csv("23Samsung_pitching__records.csv")

In [150]:
bb

,id,name,team,war,games_played,complete_games,shutouts,games_started,wins,losses,...,strikeouts,balks,wild_pitches,era,fip,whip,era_plus,fip_plus,war_another_source,wpa
0,1,뷰캐넌,23삼,2.51,17,1,0,17,7,6,...,96,0,3,2.88,2.69,1.14,141.7,149.5,2.51,1.11
1,2,원태인,23삼,1.83,15,0,0,15,4,5,...,58,1,2,3.18,4.45,1.32,128.5,91.6,1.83,0.64
2,3,백정현,23삼,1.30,13,0,0,13,4,5,...,49,1,1,3.95,3.78,1.27,103.4,107.1,1.30,0.17
3,4,수아레즈,23삼,0.89,16,0,0,16,3,7,...,76,0,4,4.02,3.10,1.50,101.5,130.0,0.89,-0.01
4,5,김대우,23삼,0.50,25,0,0,1,0,1,...,32,0,0,3.82,3.62,1.27,106.9,112.6,0.50,-0.30
5,6,이재익,23삼,0.42,18,0,0,0,0,0,...,10,0,1,2.50,4.32,1.28,163.3,93.9,0.42,-0.21
6,7,이승현,23삼,0.36,33,0,0,0,1,4,...,28,0,2,4.55,4.54,1.48,89.8,89.4,0.36,-0.82
7,8,문용익,23삼,0.35,12,0,0,0,1,0,...,10,0,3,2.25,3.96,1.33,181.4,100.9,0.35,0.04
8,9,이호성,23삼,0.19,3,0,0,0,0,0,...,4,0,1,2.57,3.94,1.00,158.8,101.6,0.19,-0.11
9,10,이재희,23삼,0.15,2,0,0,1,0,0,...,5,0,1,3.38,5.62,1.13,121.0,72.5,0.15,-0.06
10,11,황동재,23삼,0.08,3,0,0,3,0,2,...,11,0,0,4.91,6.78,1.57,83.2,60.4,0.08,-0.22
11,12,최지광,23삼,0.03,6,0,0,0,0,0,...,5,0,0,5.06,3.19,1.31,80.6,125.3,0.03,-0.19
12,13,박세웅,23삼,0.03,1,0,0,0,0,0,...,1,0,0,0.00,9.37,3.00,NaN,42.7,0.03,0.00
13,14,오승환,23삼,0.02,26,0,0,1,2,3,...,20,0,0,4.80,6.07,1.47,85.1,67.9,0.02,-0.50
14,15,이승현,23삼,0.01,34,0,0,0,2,2,...,25,0,2,4.36,3.59,1.42,93.6,113.8,0.01,-0.16
15,16,노건우,23삼,-0.05,2,0,0,0,0,0,...,0,0,0,4.50,3.37,2.00,90.7,119.3,-0.05,-0.08
16,17,최충연,23삼,-0.10,7,0,0,0,0,0,...,8,1,0,4.82,9.05,1.82,84.7,45.4,-0.10,-0.03
17,18,우규민,23삼,-0.11,29,0,0,0,2,0,...,19,0,0,5.16,3.24,1.32,79.1,125.6,-0.11,0.17
18,19,장필준,23삼,-0.22,3,0,0,2,0,0,...,4,0,0,9.00,7.21,2.33,45.4,56.4,-0.22,-0.30
19,20,이상민,23삼,-0.27,16,0,0,0,2,0,...,17,0,0,7.20,3.24,1.60,56.7,126.8,-0.27,-0.17
20,21,허윤동,23삼,-0.30,7,0,0,1,0,1,...,8,0,0,10.13,5.25,2.63,40.3,76.3,-0.30,-0.44
21,22,최하늘,23삼,-0.43,1,0,0,1,0,1,...,0,0,0,47.25,15.37,6.00,8.6,27.1,-0.43,-0.48
22,23,최채흥,23삼,-0.45,5,0,0,5,0,2,...,11,0,0,7.78,5.97,2.03,52.5,69.0,-0.45,-0.56
23,24,김태훈,23삼,-0.56,28,0,0,0,1,3,...,13,0,1,7.27,5.22,1.65,56.2,77.8,-0.56,-0.93
24,25,양창섭,23삼,-0.69,13,0,0,4,0,3,...,9,0,2,9.00,7.41,2.15,45.4,55.5,-0.69,-0.88
25,26,홍정우,23삼,-0.77,18,0,0,0,2,3,...,9,0,1,9.00,6.37,1.88,45.4,64.5,-0.77,-0.94

In [9]:
import pandas as pd

# Assuming '23dosan_pitching_records' is your DataFrame containing the pitching data
# Extract data of the 10 pitching players
players_data = [
    'Player1', 'Player2', 'Player3', 'Player4', 'Player5',
    'Player6', 'Player7', 'Player8', 'Player9', 'Player10'
]

# Use .loc method to get the data for these players
data_of_10_players = aa.loc[aa['이름'].isin(players_data)]

# Display the data
print(data_of_10_players)

Empty DataFrame
Columns: [순, 이름, 팀, WAR, 출장, 완투, 완봉, 선발, 승, 패, 세, 홀드, 이닝, 실점, 자책, 타자, 피안타, 피2타, 피3타, 피홈런, 볼넷, 고4, 사구, 삼진, 보크, 폭투, ERA, FIP, wOBA, WHIP, ERA+, FIP+, WAR.1]
Index: []

[0 rows x 33 columns]

In [151]:
import pandas as pd

# Assuming your DataFrame is named 'data'
bb['team'] = bb['team'].replace({
    '23삼': '삼성',
    # Add other mappings for different team names here
})

# Now the '팀' column will have the new team names

In [152]:
bb

,id,name,team,war,games_played,complete_games,shutouts,games_started,wins,losses,...,strikeouts,balks,wild_pitches,era,fip,whip,era_plus,fip_plus,war_another_source,wpa
0,1,뷰캐넌,삼성,2.51,17,1,0,17,7,6,...,96,0,3,2.88,2.69,1.14,141.7,149.5,2.51,1.11
1,2,원태인,삼성,1.83,15,0,0,15,4,5,...,58,1,2,3.18,4.45,1.32,128.5,91.6,1.83,0.64
2,3,백정현,삼성,1.30,13,0,0,13,4,5,...,49,1,1,3.95,3.78,1.27,103.4,107.1,1.30,0.17
3,4,수아레즈,삼성,0.89,16,0,0,16,3,7,...,76,0,4,4.02,3.10,1.50,101.5,130.0,0.89,-0.01
4,5,김대우,삼성,0.50,25,0,0,1,0,1,...,32,0,0,3.82,3.62,1.27,106.9,112.6,0.50,-0.30
5,6,이재익,삼성,0.42,18,0,0,0,0,0,...,10,0,1,2.50,4.32,1.28,163.3,93.9,0.42,-0.21
6,7,이승현,삼성,0.36,33,0,0,0,1,4,...,28,0,2,4.55,4.54,1.48,89.8,89.4,0.36,-0.82
7,8,문용익,삼성,0.35,12,0,0,0,1,0,...,10,0,3,2.25,3.96,1.33,181.4,100.9,0.35,0.04
8,9,이호성,삼성,0.19,3,0,0,0,0,0,...,4,0,1,2.57,3.94,1.00,158.8,101.6,0.19,-0.11
9,10,이재희,삼성,0.15,2,0,0,1,0,0,...,5,0,1,3.38,5.62,1.13,121.0,72.5,0.15,-0.06
10,11,황동재,삼성,0.08,3,0,0,3,0,2,...,11,0,0,4.91,6.78,1.57,83.2,60.4,0.08,-0.22
11,12,최지광,삼성,0.03,6,0,0,0,0,0,...,5,0,0,5.06,3.19,1.31,80.6,125.3,0.03,-0.19
12,13,박세웅,삼성,0.03,1,0,0,0,0,0,...,1,0,0,0.00,9.37,3.00,NaN,42.7,0.03,0.00
13,14,오승환,삼성,0.02,26,0,0,1,2,3,...,20,0,0,4.80,6.07,1.47,85.1,67.9,0.02,-0.50
14,15,이승현,삼성,0.01,34,0,0,0,2,2,...,25,0,2,4.36,3.59,1.42,93.6,113.8,0.01,-0.16
15,16,노건우,삼성,-0.05,2,0,0,0,0,0,...,0,0,0,4.50,3.37,2.00,90.7,119.3,-0.05,-0.08
16,17,최충연,삼성,-0.10,7,0,0,0,0,0,...,8,1,0,4.82,9.05,1.82,84.7,45.4,-0.10,-0.03
17,18,우규민,삼성,-0.11,29,0,0,0,2,0,...,19,0,0,5.16,3.24,1.32,79.1,125.6,-0.11,0.17
18,19,장필준,삼성,-0.22,3,0,0,2,0,0,...,4,0,0,9.00,7.21,2.33,45.4,56.4,-0.22,-0.30
19,20,이상민,삼성,-0.27,16,0,0,0,2,0,...,17,0,0,7.20,3.24,1.60,56.7,126.8,-0.27,-0.17
20,21,허윤동,삼성,-0.30,7,0,0,1,0,1,...,8,0,0,10.13,5.25,2.63,40.3,76.3,-0.30,-0.44
21,22,최하늘,삼성,-0.43,1,0,0,1,0,1,...,0,0,0,47.25,15.37,6.00,8.6,27.1,-0.43,-0.48
22,23,최채흥,삼성,-0.45,5,0,0,5,0,2,...,11,0,0,7.78,5.97,2.03,52.5,69.0,-0.45,-0.56
23,24,김태훈,삼성,-0.56,28,0,0,0,1,3,...,13,0,1,7.27,5.22,1.65,56.2,77.8,-0.56,-0.93
24,25,양창섭,삼성,-0.69,13,0,0,4,0,3,...,9,0,2,9.00,7.41,2.15,45.4,55.5,-0.69,-0.88
25,26,홍정우,삼성,-0.77,18,0,0,0,2,3,...,9,0,1,9.00,6.37,1.88,45.4,64.5,-0.77,-0.94

In [117]:
import pandas as pd

# Assuming you have already read the CSV file into a DataFrame called 'df_pitcher'
# Replace 'df_pitcher' with the actual variable name of your DataFrame

# Define the new column names
new_columns = {
    '순': 'id',
    '이름': 'name',
    '팀': 'team',
    'WAR': 'war',
    '출장': 'games_played',
    '완투': 'complete_games',
    '완봉': 'shutouts',
    '선발': 'games_started',
    '승': 'wins',
    '패': 'losses',
    '세': 'saves',
    '홀드': 'holds',
    '이닝': 'innings_pitched',
    '실점': 'runs_allowed',
    '자책': 'earned_runs',
    '타자': 'batters_faced',
    '안타': 'hits_allowed',
    '2타': 'doubles_allowed',
    '3타': 'triples_allowed',
    '홈런': 'home_runs_allowed',
    '볼넷': 'walks_allowed',
    '고4': 'hit_by_pitch',
    '사구': 'intentional_walks',
    '삼진': 'strikeouts',
    '보크': 'balks',
    '폭투': 'wild_pitches',
    'ERA': 'era',
    'FIP': 'fip',
    'WHIP': 'whip',
    'ERA+': 'era_plus',
    'FIP+': 'fip_plus',
    'WAR.1': 'war_another_source',
    'WPA': 'wpa'
}

# Rename the columns in the DataFrame
bb.rename(columns=new_columns, inplace=True)

# Now the DataFrame 'df_pitcher' will have the updated column names

In [153]:
bb.to_csv("23Samsung_pitching__records.csv", index=False)

In [102]:
bb.columns

Index(['id', 'name', 'team', 'war', 'games_played', 'complete_games',
       'shutouts', 'games_started', 'wins', 'losses', 'saves', 'holds',
       'innings_pitched', 'runs_allowed', 'earned_runs', 'batters_faced',
       'hits_allowed', 'doubles_allowed', 'triples_allowed',
       'home_runs_allowed', 'walks_allowed', 'hit_by_pitch',
       'intentional_walks', 'strikeouts', 'balks', 'wild_pitches', 'era',
       'fip', 'wOBA', 'whip', 'era_plus', 'fip_plus', 'war_another_source'],
      dtype='object')

In [91]:
bb["팀"]

0     23K
1     23K
2     23K
3     23K
4     23K
5     23K
6     23K
7     23K
8     23K
9     23K
10    23K
11    23K
12    23K
13    23K
14    23K
15    23K
16    23K
17    23K
18    23K
19    23K
20    23K
21    23K
22    23K
23    23K
Name: 팀, dtype: object

In [92]:
import pandas as pd

# Assuming your DataFrame is named 'data'
bb['팀'] = bb['팀'].replace({
    '23K': 'KIA',
    # Add other mappings for different team names here
})

# Now the '팀' column will have the new team names

In [119]:
bb.to_csv("23Kiwoom_pitching__records.csv", index=False)

In [95]:
bb

,순,이름,팀,WAR,출장,완투,완봉,선발,승,패,...,삼진,보크,폭투,ERA,FIP,wOBA,WHIP,ERA+,FIP+,WAR.1
0,1,최지민,KIA,1.80,37,0,0,0,3,2,...,33,0,4,1.70,3.77,1.09,234.8,106.1,1.80,1.21
1,2,임기영,KIA,1.49,33,0,0,0,1,1,...,39,0,1,2.65,3.10,0.96,150.9,129.6,1.49,0.94
2,3,양현종,KIA,1.29,16,0,0,16,5,5,...,82,0,2,3.79,3.28,1.48,105.5,121.7,1.29,0.26
3,4,이준영,KIA,1.25,38,0,0,0,1,0,...,22,0,1,1.17,3.16,1.44,340.2,126.9,1.25,0.36
4,5,이의리,KIA,1.10,16,0,0,16,7,5,...,94,0,3,3.82,3.61,1.52,104.5,111.5,1.10,0.45
5,6,윤영철,KIA,0.92,14,0,0,13,5,4,...,39,1,4,4.08,3.90,1.35,97.8,102.8,0.92,0.44
6,7,정해영,KIA,0.67,24,0,0,0,3,1,...,11,0,0,2.91,5.27,1.48,137.4,75.8,0.67,0.10
7,8,앤더슨,KIA,0.63,14,0,0,14,4,7,...,64,0,10,3.76,3.80,1.29,106.2,105.2,0.63,-0.03
8,9,전상현,KIA,0.51,34,0,0,0,1,1,...,26,0,0,2.93,3.70,1.55,136.4,108.1,0.51,0.07
9,10,김유신,KIA,0.43,12,0,0,0,0,1,...,3,0,0,2.70,5.92,1.73,147.9,67.7,0.43,-0.54
10,11,산체스,KIA,0.35,1,0,0,1,1,0,...,10,0,0,1.42,2.27,0.79,281.1,173.9,0.35,0.24
11,12,김기훈,KIA,0.28,22,0,0,0,2,0,...,20,0,3,3.60,5.37,2.00,110.9,74.8,0.28,-0.84
12,13,장현식,KIA,0.14,28,0,0,0,1,2,...,22,0,1,3.70,4.85,1.77,108.0,82.5,0.14,-0.59
13,14,김승현,KIA,0.11,1,0,0,0,0,0,...,2,0,0,0.00,6.37,1.13,NaN,63.2,0.11,0.01
14,15,유승철,KIA,0.03,1,0,0,0,0,0,...,0,0,0,0.00,6.37,1.00,NaN,63.1,0.03,0.00
15,16,김건국,KIA,0.03,2,0,0,2,0,0,...,2,0,0,5.40,4.87,1.50,74.0,82.7,0.03,-0.10
16,17,파노니,KIA,0.02,1,0,0,1,0,0,...,2,0,0,4.50,3.12,1.25,88.8,128.8,0.02,-0.05
17,18,박준표,KIA,-0.06,18,0,0,0,0,0,...,7,0,1,5.40,3.75,1.28,74.0,106.7,-0.06,-0.08
18,19,곽도규,KIA,-0.12,6,0,0,0,0,0,...,7,0,1,9.00,4.17,2.20,44.4,96.5,-0.12,-0.10
19,20,윤중현,KIA,-0.12,7,0,0,0,0,0,...,1,0,0,7.04,7.29,1.83,56.7,54.6,-0.12,0.20
20,21,황동하,KIA,-0.14,8,0,0,1,0,2,...,8,0,0,5.11,5.81,1.70,78.2,69.0,-0.14,-0.36
21,22,김대유,KIA,-0.18,19,0,0,0,0,2,...,16,0,0,6.92,4.99,1.23,57.7,79.8,-0.18,-0.57
22,23,김재열,KIA,-0.19,3,0,0,0,0,0,...,4,0,0,9.00,5.04,2.50,44.4,79.9,-0.19,0.02
23,24,메디나,KIA,-0.67,12,0,0,12,2,6,...,36,1,5,6.05,5.44,1.60,66.0,73.6,-0.67,-1.67